<div class="navbar-container">
  <div class="navbar-bethcodes">
    <span class="navbar-logo">
      <%= link_to root_path, class: "navbar-logo" do %>
        <%= image_tag "BethCodes.png", alt: "BethCodes logo" %>
      <% end %>
    </span>
    <span class="navbar-bethcodes-titles-about">
      <%= link_to "About", about_path %>
    </span>
    <span class="navbar-bethcodes-titles">
      <%= link_to "Resume", resume_path %>
    </span>
    <span class="navbar-bethcodes-titles">
      <%= link_to "Projects", projects_path %>
    </span>
    <span class="navbar-bethcodes-titles">
      <%= link_to "Contact", contact_path %>
    </span>
  </div>
</div>
