<%# pages#about %>
<div class="page-banner-about">
  <div class="back-button-about">
    <%= link_to :back do %>
      <i class="fa-solid fa-circle-arrow-left"></i>
    <% end %>
  </div>
  <div class="page-title-about">
    <h3>About Me</h3>
  </div>
</div>
<div class="page-container">
  <div class="about-card-container col-12">
    <div class="card-left row col-10">
      <div class="card-left-text col-10 col-md-6 col-lg-8">
        <h3>Background</h3>
        <p>I started my career in nursing, initially working across acute care wards
          and then in a senior position as a specialist nurse therapist. For a
          number of personal reasons, I made the difficult decision to move away
          from this path and to instead pursue a different interest of mine - coding.
          I invested my time and money to retrain and committed to making this a
          reality.
        </p>
      </div>
      <div class="card-left-img col-10 col-md-4">
        <%= image_tag "fabi_coding.jpeg", alt: "Photo of Beth's Dog Interested By Looking At A Computer Screen" %>
      </div>
    </div>
    <div class="card-right row col-10">
      <div class="card-right-img col-10 col-md-4">
        <%= image_tag "singing.png", alt: "Photo of Beth Singing" %>
      </div>
      <div class="card-right-text col-10 col-md-6 col-lg-8">
        <h3>Music</h3>
        <p>Music and performing has been a major part of my life since I was
          a child. These days, I sing (and sometimes play saxophone or clarinet!)
          at weddings and events alongside a number of friends from my university
          days.
        </p>
        <p class="photo-credit">Photo: <%= link_to " Anna Blackwell", "https://annablackwell.co.uk/", target: "_blank" %></p>
      </div>
    </div>
    <div class="card-left row col-10">
      <div class="card-left-text col-10 col-md-6 col-lg-8">
        <h3>Dogs</h3>
        <p>Dogs are probably my biggest love in life! I was raised in a home with
          golden retrievers, and now I have my own handsome young pup, Fabio,
          who was born a street dog in Cyprus. He loves to check my work and help
          with debugging, as you can see above! I follow a number of dog rescue
          charities as well, and support them when and how I can.
        </p>
      </div>
      <div class="card-left-img col-10 col-md-4">
        <%= image_tag "fabi_smile.jpeg", alt: "Photo of Beth's Dog, Fabio, Smiling At The Camera" %>
      </div>
    </div>
    <div class="card-right row col-10">
      <div class="card-right-img col-10 col-md-4">
        <%= image_tag "dali_visit_two.jpeg", alt: "Photo of Beth Visiting A Dog Shelter And Surrounded By Lots of Puppies" %>
      </div>
      <div class="card-right-text col-10 col-md-6 col-lg-8">
        <h3>Travelling</h3>
        <p>I love exploring new places, and also feel it's important to learn about
          other cultures. I'll take any opportunity I can to go on a new adventure
          or to revisit some of my favorite countries and cities. Visiting the
          charity in Cyprus who helped me rescue Fabio has been one of my highlights.
          Fabio loves an adventure by my side too!
        </p>
      </div>
    </div>
  </div>
</div>
