<%# pages#contact %>
<div class="back-button-contact">
  <%= link_to :back do %>
    <i class="fa-solid fa-circle-arrow-left"></i>
  <% end %>
</div>
<div class="contact-page-container">
  <div class="contact-elements-container col-10">
    <span class="contact-text-container col-12 col-md-10">
      <h3>Reach out to me easily via any of the below:</h3>
    </span>
    <div class="contact-card-container col-10">
      <div class="row social-media-links col-10">

        <%= link_to "https://github.com/BethGeast", target: "_blank", class: "contact-card col-10 col-md-5" do %>
          <i class="fa-brands fa-square-github"></i>
          GitHub
        <% end %>

        <%= link_to "https://www.linkedin.com/in/bethgeast/", target: "_blank", class: "contact-card col-10 col-md-5" do %>
          <i class="fa-brands fa-linkedin"></i>
          LinkedIn
        <% end %>

        <%= link_to "mailto:beth.codes1@gmail.com", target: "_blank", class: "contact-card col-10 col-md-5" do %>
          <i class="fa-solid fa-at"></i>
          Email
        <% end %>

        <a href="#"
          class="contact-card col-10 col-md-5"
          data-controller="contact"
          data-action="click->contact#preventDefault click->contact#toggleForm">
          <i class="fa-solid fa-envelope"></i>
          Message me
        </a>
      </div>
    </div>
  </div>

  <div id="contact-form" class="container col-10 col-md-8" style="display: none;">
    <%= simple_form_for :contact, url: send_contact_email_path, data: { turbo_frame: "_top" } do |f| %>
      <div class="form-group">
        <%= f.input :name, required: true, label: 'Your Name' %>
      </div>
      <div class="form-group">
        <%= f.input :email, required: true, label: 'Your Contact Email Address' %>
      </div>
      <div class="form-group">
        <%= f.input :title, required: true, label: 'Message Title' %>
      </div>
      <div class="form-group">
        <%= f.input :message, as: :text, required: true, label: 'Your Message' %>
      </div>
      <div class="form-button">
        <%= f.button :submit, 'Send Message', data: { action: "contact#submitForm" } %>
      </div>
    <% end %>
  </div>
</div>
