<h1>Home</h1>
<p>pages#home</p>
<%= link_to "Home", root_path %>
<%= link_to "About Me", about_path %>
<%= link_to "Resume", resume_path %>
<%= link_to "Projects", projects_path %>
<%= link_to "Contact", contact_path %>
