<%# pages#resume %>
<div class="page-banner-resume">
  <div class="back-button-resume">
    <%= link_to :back do %>
      <i class="fa-solid fa-circle-arrow-left"></i>
    <% end %>
  </div>
  <div class="page-title-resume">
    <h3>Resume</h3>
  </div>
</div>
<div class="resume-container">
  <div class="row resume-link-container col-10 col-md-8">
    <div class="resume-link">
      <%= link_to 'Click here to view my full resume', '/downloads/bethcodes-resume.pdf', download: 'bethcodes-resume.pdf' %>
    </div>
  </div>
  <div class="row tech-skills-container">
    <div class="tech-skills-card col-10 col-sm-3">
      <h3 class="tech-card-title">Key Stack</h3>
      <div class="split-list">
        <ul class="tech-skill">
          <% @techstack_one.each do |skill_one| %>
            <li><%= skill_one %></li>
          <% end %>
        </ul>
        <ul class="tech-skill">
          <% @techstack_two.each do |skill_two| %>
            <li><%= skill_two %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="tech-skills-card col-10 col-sm-3">
      <h3 class="tech-card-title">Additional</h3>
      <ul class="tech-skill">
        <% @other.each do |other_skill| %>
          <li><%= other_skill %></li>
        <% end %>
      </ul>
    </div>
    <div class="tech-skills-card col-10 col-sm-3">
      <h3 class="tech-card-title">In Progress</h3>
      <ul class="tech-skill">
        <% @learning.each do |learning_skill| %>
          <li><%= learning_skill %></li>
        <% end %>
      </ul>
    </div>
    <div class="row bonus-card col-10 col-sm-6">
      <h3 class="tech-card-title">Bonus Skills</h3>
      <div class="bonus-split-list">
        <ul class="bonus-skill">
          <li><%= @bonus_left %></li>
        </ul>
        <ul class="bonus-skill">
          <li><%= @bonus_right %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
